@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.App {
  text-align: center;
  font-family: 'Space Mono', sans-serif;
}

body {
  font-family: 'Space Mono', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  margin-top: 20px;
  width: 70%;
  max-width: 400px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.rbord {
  margin: 0 20px; /* Adjusted margin for responsiveness */
  background-color: rgb(33, 141, 212);
  border-radius: 50px;
  padding: 20px; /* Added padding for spacing */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  gap: 20px;
  justify-content: space-around;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: #333;
  width: 100%;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image-home {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.product-details-home {
  padding: 10px;
}

.product-title-home {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.product-price-home {
  font-weight: bold;
  color: #333;
}

.rbord-pro {
  background-color: rgb(33, 141, 212);
  border-radius: 50px;
  height: auto; /* Adjusted height for responsiveness */
  margin: 0 20px; /* Adjusted margin for responsiveness */
  padding: 20px; /* Added padding for spacing */
}

.product-page {
  display: flex;
  flex-wrap: wrap; /* Ensures items wrap on smaller screens */
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  margin: 20px; /* Adjusted margin for responsiveness */
}

.product-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details {
  width: 100%;
  color: #ddd;
}

.product-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ddd;
}

.product-price {
  font-weight: bold;
  color: greenyellow;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 10px;
}

.product-rating {
  color: #ffa500;
  margin-bottom: 10px;
}